<div style=" background-color:lightgoldenrodyellow; padding:15px">
    <p>
        <button type="button" id="btnGetByID" class="btn btn-bitbucket">Yazar gətir</button>
    </p>
    <h3>ID-yə uyğun yazarın gətirilməsi  </h3>
    <input type="number" name="id" class="form-control" placeholder="yazar ID" id="writerID" />
    <br />
    <div class="col-lg-12">
        <div class="contact-box" id="getByID">

        </div>
    </div>
</div>