@model IEnumerable<EntityLayer.Concrete.Writer>

@{
    ViewData["Title"] = "Yazarlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Ad-Soyad
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>
                Haqqında
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="writerList">

    </tbody>
</table>


@section Scripts {
    <script>
        window.onload = function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetAllWriters",
                success: function (list) {
                    let writers = jQuery.parseJSON(list)
                    console.log(writers);
                    let bodyRows = "";

                    $.each(writers, (index, value) => {
                        bodyRows += `<tr><td><img src="${value.Image}" style="width:50px; height:50px" /></td><td>${value.Name}</td><td>${value.Email}</td><td>${value.Status}</td><td>${value.About}</td><td><a href="/Admin/Writer/Edit/${value.ID}" title="Düzəliş Et"><i class="fa fa-edit test" style="color:green"></i></a> | <a href="/Admin/Writer/Delete/${value.ID}" title="Sil" onclick="return confirm('Seçdiyiniz sətr silinəcək. Silinən məlumatların geri qaytarılması mümkün deyil. \n Sətiri yənədə silmək istəyirsinizmi?')"><i class="fa fa-trash-alt" style="color:red"></i></a></td></tr >`;
                    });

                    $("#writerList").html(bodyRows);
                },
            });
        };
    </script>
}