@model IEnumerable<EntityLayer.Concrete.Writer>

@{
    ViewData["Title"] = "Yazarlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
        Yeni Yazar
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Ad-Soyad
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>
                Haqqında
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="writerList">
    </tbody>
</table>

@await Component.InvokeAsync("GetWriter")


@await Component.InvokeAsync("WriterCreate")

@section Scripts {
    <script>
        import { json } from "d3";
import { data } from "jquery";

        window.onload = function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetAllWriters",
                success: function (list) {
                    let writers = jQuery.parseJSON(list)
                    //console.log(writers);
                    let bodyRows = "";

                    $.each(writers, (index, value) => {
                        bodyRows += `<tr><td><img src="${value.Image}" style="width:50px; height:50px" /></td><td>${value.Name}</td><td>${value.Email}</td><td>${value.Status}</td><td>${value.About}</td><td><a href="/Admin/Writer/Edit/${value.ID}" title="Düzəliş Et"><i class="fa fa-edit test" style="color:green"></i></a> | <a href="/Admin/Writer/Delete/${value.ID}" title="Sil" onclick="return confirm('Seçdiyiniz sətr silinəcək. Silinən məlumatların geri qaytarılması mümkün deyil. \n Sətiri yənədə silmək istəyirsinizmi?')"><i class="fa fa-trash-alt" style="color:red"></i></a></td></tr >`;
                    });

                    $("#writerList").html(bodyRows);
                },
            });
        };

        $('#btnGetByID').click(x => {
            let id = $('#writerID').val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriter",
                data: { id: id },
                success: function (data) {
                    let writer = jQuery.parseJSON(data);
                    //console.log(writer);
                    let table = `<a class="row" href="/Admin/Writer/Edit/${writer.ID}"><div class="col-4"><div class="text-center"><img alt="image" class="rounded-circle m-t-xs img-fluid" src="${writer.Image}"><div class="m-t-xs font-bold">${writer.Status}</div></div></div><div class="col-8"><h3><strong>${writer.Name}</strong></h3><p>${writer.Email}</p><address>${writer.About}</address></div></a>`;

                    $("#getByID").html(table);
                }
            })
        });

        //$("#btnWriterPost").click(function () {
        //    let writerA = {
        //        Name: $("#Name").val(),
        //        Status: $("#Status").val(),
        //        Email: $("#Email").val(),
        //        Password: $("#Password").val(),
        //        ConfirmPassword: $("#ConfirmPassword").val(),
        //        About: $("#About").val(),
        //    };

        //    var myfile = document.getElementById("Picture");
        //    var formData = new FormData();
        //    if (myfile.files.length > 0) {
        //        for (var i = 0; i < myfile.files.length; i++) {
        //            formData.append('file-' + i, myfile.files[i]);
        //        }
        //    }

        //    $.ajax({
        //        type: "post",
        //        url: "/Admin/Writer/Create",
        //        data: { writer: writerA, Picture: formData },
        //        success: function () {
        //            alert("Yazar əlavə edildi.")
        //        },
        //    });
        //})

        $("#writerCreateForm").on('submit', function (e) {
            console.log(e);
            e.preventDefault();
            console.log(e);
            console.log(new FormData(this));

            $.ajax({
                type: "post",
                url: "/Admin/Writer/Create",
                data: new FormData(this),
                dataType: "json",
                contentType: false,
                cache: false,
                beforeSend: function () {
                    $('#btnWriterPost').attr("disabled", "disabled");
                    $('#writerCreateForm').css("opacity", ".5");
                },
                success: function (responce) {
                    let data = jQuery.parseJSON(responce);
                    alert(data);
                },
            });
        });

        //file type validation
        //$("#Picture").change(function () {
        //    var file = this.files[0];
        //    var fileType = file.type;
        //    var match = ["image/jpeg", "image/png", "image/jpg"];
        //    if (!((fileType == match[0]) || (fileType == match[1]) || (fileType == match[2]))) {
        //        alert("Seçilmiş fayl tipi 'jpeg, png və jpg' olmalıdır.")
        //    }
        //})
    </script>
}
 
