<div class="mail-tools tooltip-demo m-t-md">
    <button class="btn btn-white btn-sm" id="isread" title="Oxundu kimi qeyd ele"><i class="fa fa-eye"></i> </button>
    <button class="btn btn-white btn-sm" id="delete" title="Mesajı Sil"><i class="fa fa-trash-o"></i> </button>
</div>

