@model EntityLayer.Concrete.Message

@{
    ViewData["Title"] = "Yeni Mesaj";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h4>Yeni Mesaj</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="SendMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Alıcı</label>
                <select asp-for="ReceiverID" class="form-control" asp-items="ViewBag.UsersEmail"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Başlıq</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mesaj mətni</label>
                <textarea asp-for="Details" class="form-control" ></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Əlavə Et" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Inbox" class="btn btn-dark">Geri</a>
</div>

