@model EntityLayer.Concrete.About
<h3>Haqqımzda</h3>
<p style="text-align:justify; text-justify: distribute-all-lines;">
        <span >
            @(Model.DetailsFirst.Length < 650 ? Model.DetailsFirst : Model.DetailsFirst.Substring(0, Model.DetailsFirst.Substring(0,650).LastIndexOf(" ")))
        </span>
    ..
</p>
<div class="read">
    <a href="~/About" class="btn btn-primary read-m">Daha Ətarflı</a>
</div>