
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div id="Piechart_div" style="margin:0; padding:0; width:500px; height:500px">
            <h2>burada chart olacaq</h2>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(DrawOnLoad);

        function DrawOnLoad() {
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Admin/GoogleChart/CollectChartData',
                    success: function (chartsData) {
                        var Data = chartsData.jsonlist;
                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'category');
                        data.addColumn('number', 'blogCount');

                        for (var i = 0; i < Data.length; i++) {
                            data.addRow([Data[i].category, Data[i].blogCount]);
                        }

                        var chart = new google.visualization.PieChart(document.getElementById('Piechart_div'));

                        chart.draw(data,
                            {
                                title: "Kateqoriyaya uyğun Bloglar",
                                position: "left",
                                fontsize: "16px",
                            });
                    }
                });
            });
        };

    </script>


}


