
@{
    ViewData["Title"] = "Əlaqə";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/css/contact.css" rel='stylesheet' type='text/css' />

<section class="main-content-w3layouts-agileits">

    <h3 class="tittle">Bizimlə Əlaqə saxla</h3>
    <p class="sub text-center">Yeni fikirlərinizə hər zaman açığıq</p>

    @await Component.InvokeAsync("ContactInfo")

    <div class="container">
        <div class="contact_grid_right">
            <form asp-action="index" asp-controller="Contact" method="post">
                <div class="row contact_left_grid">
                    <div class="col-md-6 con-left">
                        <div class="form-group">
                            <label for="validationCustom01 my-2">Ad və Soyad</label>
                            <input class="form-control" type="text" name="UserName" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email</label>
                            <input class="form-control" type="email" name="Email" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="validationCustom03 my-2">Başlıq</label>
                            <input class="form-control" type="text" name="Subject" placeholder="" required="">
                        </div>
                    </div>
                    <div class="col-md-6 con-right">
                        <div class="form-group">
                            <label for="textarea">Mesaj mətni</label>
                            <textarea id="textarea" name="Message" placeholder="" required=""></textarea>
                        </div>
                        <input class="form-control" type="submit" value="Göndər">

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Default/lib/jquery/dist/jquery.js"></script>

@if (TempData["MessageSuccess"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["MessageSuccess"].ToString()))");
    </script>
}
