@model Blog_NTierArchitect.Areas.Admin.Models.AdminUserViewModel
<img alt="image" class="rounded-circle" src="@Model.ImageURL" style="width:100px"/>
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="block m-t-xs font-bold"></span>
    <span class="text-muted text-xs block">@Model.UserName <b class="caret"></b></span>
</a>